{% extends "/layouts/base.twig" %}

{% block main %}

	<header class="site-name">
		<h1>
			Najważniejsze wiadomości tygodnia ze świata WordPressa
		</h1>
		<span class="close">Zamknij</span>
	</header>

{% endblock %}
