{% extends "/layouts/base.twig" %}

{% block main %}
    {% include 'parts/site-name.twig' %}

    <article class="single-entry-wrapper">
        <header class="single-entry-header" role="heading">
            <h2>{{ post.title }}</h2>
            <time>22 listopada 2020</time>
        </header>
        <div class="single-entry-columns" role="grid">
            <div class="item entry-content" role="article">
                {{ post.content }}
            </div>

            <aside class="item entry-sidebar" role="form">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur nisi ut placerat. Nam suscipit sem ac mi auctor imperdiet. In diam velit, finibus ut ex eu, lobortis dignissim ligula. Curabitur molestie dolor ut tellus tristique convallis. Nullam ligula nibh, consequat nec placerat eu, aliquet vel enim. Nunc dictum tincidunt hendrerit. Suspendisse potenti. Praesent sollicitudin, augue quis pretium vehicula, ante enim blandit magna, vitae elementum arcu velit in quam. Aenean non luctus nisi. Nullam rhoncus lacinia nibh, ac venenatis dui vehicula eu. Cras egestas, nibh id rutrum malesuada, ligula tellus dapibus ante, a viverra est dui eu lacus. Aenean vestibulum vulputate tortor in congue. Morbi posuere leo in tempus pretium. Phasellus non semper neque, gravida ultricies lorem.
            </aside>
        </div>
    </article>

{% endblock %}
