{% extends "/layouts/base.twig" %}

{% block main %}
{% include 'parts/site-name.twig' %}

<article class="single-entry-wrapper">
	<header class="single-entry-header" role="heading">
		<h2>{{ post.title }}</h2>
		<time>22 listopada 2020</time>
	</header>
	<div class="single-entry-columns" role="grid">
		<div class="item entry-content" role="article">
			{{ post.content }}

			<div class="wordpressowka-block">
				<div class="wordpressowka-link shadow-bg" role="link">
					<div class="inner">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum eros at lacus
							fermentum euismod. Phasellus et odio dolor.&nbsp;</p>

						<div>
							<a href="https://www.thule.com/pl-pl/pl/backpacks/laptop-backpacks/thule-vea-backpack-25l-_-3203514"
								title="Plecak na laptopa Thule Vea Backpack 25L" class="link" target="_blank">Plecak na
								laptopa Thule Vea Backpack 25L</a>
						</div>
					</div>
				</div>
			</div>

			<div class="wordpressowka-block">
				<div class="wordpressowka-link event" role="link">
					<div class="inner">
						<picture role="img">
							<source media="(max-width:880px)" type="image/webp"
								srcset="https://wordpressowka.pl/app/uploads/2020/05/wordup-kalisz-logo.svg" />
							<source media="(max-width:880px)"
								srcset="https://wordpressowka.pl/app/uploads/2020/05/wordup-kalisz-logo.svg" />
							<source media="(min-width: 8811px) and (max-width:1023px)" type="image/webp"
								srcset="https://wordpressowka.pl/app/uploads/2020/05/wordup-kalisz-logo.svg" />
							<source media="(min-width: 8811px) and (max-width:1023px)"
								srcset="https://wordpressowka.pl/app/uploads/2020/05/wordup-kalisz-logo.svg" />
							<source media="(min-width: 1024px)" type="image/webp"
								srcset="https://wordpressowka.pl/app/uploads/2020/05/wordup-kalisz-logo.svg" />
							<img src="https://wordpressowka.pl/app/uploads/2020/05/wordup-kalisz-logo.svg"
								alt="tutaj alt" />
						</picture>
						<div>
							<h2>Tutaj data np 22 listopad 2020</h2>
							<div>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris imperdiet consectetur
									nisi ut placerat. Nam suscipit sem ac mi auctor.</p>
								<a href="" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit" class="link"
									target="_blank">Lorem ipsum dolor sit amet, consectetur adipiscing elit</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<h4>Podoba Ci się to wydanie? Podaj dalej!</h4>
			<div class="share">
				<a href="">
					{% include 'views/parts/icons/facebook.twig' %}
					Udostępnij na Facebooku
				</a>
				<a href="">
					{% include 'views/parts/icons/linkedin.twig' %}
					Udostępnij na Linkedin
				</a>
				<a href="">
					{% include 'views/parts/icons/twitter.twig' %}
					Udostępnij na Twitterze
				</a>
				<a href="">
					{% include 'views/parts/icons/mail.twig' %}
					Wyślij na adres email
				</a>
			</div>
		</div>

		<aside class="item entry-sidebar" role="form">
			<div class="sidebar">
				<h3>Zapisz się na newsletter WordPressówki!</h3>
				<p>
					Dzięki Newsletterowi WordPressówki będziesz na bieżąco z informacjami na temat WordPressa! Jako
					pierwszy dowiesz się o nowym wydaniu. Dołącz do naszych subskrybentów!
				</p>

				<form
					action="https://wordpressowka.us20.list-manage.com/subscribe/post?u=bc1349d1dfefba72bdd8c3974&amp;id=f8311d93e4"
					method="post" name="mc-embedded-subscribe-form" class="validate">
					<label><input type="name" placeholder="Twoje imię" name="NAME" required></label>
					<label><input type="email" placeholder="Twój adres email" name="EMAIL" required></label>
					<div>
						<input type="submit" value="Zapisz się teraz!" class="button color-primary small"
							name="subscribe">
					</div>
				</form>

				<small role="alert">
					Zapisując się na newsletter zgadzam się na otrzymywanie Newslettera od WordPressówki. Po naciśnięciu
					<strong>Zapisz się teraz!</strong> otrzymasz na swój adres e-mail prośbę o potwierdzenie zapisu.
				</small>

				<h3>Dołącz do nas!</h3>
				<div class="profiles">
					<a href="">Facebook</a>
					<a href="">Twitter</a>
					<a href="">Linkedin</a>
					<a href="">Instagram</a>
				</div>
			</div>
		</aside>
	</div>
</article>

<div class="other-editions">
	<h3>Zobacz inne wydania:</h3>

	<div class="editions-wrapper">
		<div class="editions-list">
			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tagi:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tagi:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tagi:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tagi:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tagi:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tagi:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tagi:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tagi:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>
		</div>
	</div>
</div>
{% endblock %}
