{% extends "/layouts/base.twig" %}

{% block main %}

<article class="single-entry-wrapper">
	{% include 'views/parts/editions.twig' %}
</article>
<nav class="pagination">
	<a href="">Nowsze wydania</a>
	<a href="">Wcześniejsze wydania</a>
</nav>
{% endblock %}
