{% extends "/layouts/base.twig" %}

{% block main %}

<article class="single-entry-wrapper">
	{% include 'views/parts/editions.twig' %}
</article>
<nav class="pagination">
	{% if other_posts.pagination.prev %}
		<a href="{{ other_posts.pagination.prev.link }}">Nowsze wydania</a>
	{% else %}
		&nbsp;
	{% endif %}

	{% if other_posts.pagination.next %}
		<a href="{{ other_posts.pagination.next.link }}">Wcześniejsze wydania</a>
	{% else %}
		&nbsp;
	{% endif %}
</nav>
{% endblock %}
