<div class="other-editions scroll">
	<h3>Zobacz inne wydania:</h3>
	{% include 'views/parts/icons/swipe.twig' %}

	<div class="editions-wrapper scroll">
		<div class="editions-list">
			{% for post in other_posts %}
				{% include 'views/parts/older-entries.twig' %}
			{% endfor %}
			<div class="all-editions">
				<a href="{{ site.url }}/wszystkie-wydania" class="button color-primary small">Zobacz wszystkie wydania</a>
			</div>
		</div>
	</div>
</div>
