<div class="other-editions scroll">
	<h3>Zobacz inne wydania:</h3>
	{% include 'views/parts/icons/swipe.twig' %}

	<div class="editions-wrapper scroll">
		<div class="editions-list">
			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tematy:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tematy:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tematy:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tematy:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tematy:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tematy:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<a class="edition" href="" title="">
				<div>
					<time>20 październik 2020</time>
					<p>WordPressówka #23</p>
					<h2>
						<span>Tematy:</span>
						WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
					</h2>
				</div>
			</a>

			<div class="all-editions">
				<a href="" class="button color-primary small">Zobacz wszystkie wydania</a>
			</div>
		</div>
	</div>
</div>
