<header id="header">

	<div class="header-left">
		<div class="item logo">
			<a href="" class="logo">
				{% include 'views/parts/logo.twig' %}
				<span>
					<strong>WordPressówka</strong>
					<small>Tygodnik społeczny i literacki</small>
				</span>
			</a>
		</div>
	</div>

	<div class="header-right">
		<div class="item search">
			<form>
				<input type="text" placeholder="Znajdź artykuł">
				<button type="submit">
					<svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M1.19264 13.8879C0.702234 13.4421 0.666064 12.6832 1.11185 12.1928L5.37806 7.49957L1.11192 2.80719C0.666089 2.31681 0.702199 1.55787 1.19257 1.11205C1.68294 0.666219 2.44188 0.702329 2.88771 1.1927L8.62157 7.49944L2.88777 13.8071C2.44198 14.2975 1.68305 14.3337 1.19264 13.8879Z" class="color-primary" />
					</svg>
				</button>
			</form>
		</div>

		<div class="item socials">
			<div class="links">
				<a href="">
					<svg viewBox="0 0 9 16" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.79883 9.3125L8.20898 6.61719H5.60156V4.85938C5.60156 4.09766 5.95312 3.39453 7.125 3.39453H8.32617V1.08008C8.32617 1.08008 7.24219 0.875 6.2168 0.875C4.07812 0.875 2.67188 2.19336 2.67188 4.53711V6.61719H0.269531V9.3125H2.67188V15.875H5.60156V9.3125H7.79883Z" fill="#0052FF"/>
					</svg>
				</a>
				<a href="">
					<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M3.80469 14V5.24023H1.08008V14H3.80469ZM2.42773 4.06836C3.30664 4.06836 4.00977 3.33594 4.00977 2.45703C4.00977 1.60742 3.30664 0.904297 2.42773 0.904297C1.57812 0.904297 0.875 1.60742 0.875 2.45703C0.875 3.33594 1.57812 4.06836 2.42773 4.06836ZM14 14V9.19531C14 6.85156 13.4727 5.03516 10.7188 5.03516C9.40039 5.03516 8.52148 5.76758 8.14062 6.44141H8.11133V5.24023H5.50391V14H8.22852V9.66406C8.22852 8.52148 8.43359 7.4375 9.83984 7.4375C11.2461 7.4375 11.2754 8.72656 11.2754 9.75195V14H14Z" fill="#0052FF"/>
					</svg>
				</a>
				<a href="">
					<svg viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M7.4375 4.00586C5.5625 4.00586 4.06836 5.5293 4.06836 7.375C4.06836 9.25 5.5625 10.7441 7.4375 10.7441C9.2832 10.7441 10.8066 9.25 10.8066 7.375C10.8066 5.5293 9.2832 4.00586 7.4375 4.00586ZM7.4375 9.57227C6.23633 9.57227 5.24023 8.60547 5.24023 7.375C5.24023 6.17383 6.20703 5.20703 7.4375 5.20703C8.63867 5.20703 9.60547 6.17383 9.60547 7.375C9.60547 8.60547 8.63867 9.57227 7.4375 9.57227ZM11.7148 3.88867C11.7148 3.44922 11.3633 3.09766 10.9238 3.09766C10.4844 3.09766 10.1328 3.44922 10.1328 3.88867C10.1328 4.32812 10.4844 4.67969 10.9238 4.67969C11.3633 4.67969 11.7148 4.32812 11.7148 3.88867ZM13.9414 4.67969C13.8828 3.625 13.6484 2.6875 12.8867 1.92578C12.125 1.16406 11.1875 0.929688 10.1328 0.871094C9.04883 0.8125 5.79688 0.8125 4.71289 0.871094C3.6582 0.929688 2.75 1.16406 1.95898 1.92578C1.19727 2.6875 0.962891 3.625 0.904297 4.67969C0.845703 5.76367 0.845703 9.01562 0.904297 10.0996C0.962891 11.1543 1.19727 12.0625 1.95898 12.8535C2.75 13.6152 3.6582 13.8496 4.71289 13.9082C5.79688 13.9668 9.04883 13.9668 10.1328 13.9082C11.1875 13.8496 12.125 13.6152 12.8867 12.8535C13.6484 12.0625 13.8828 11.1543 13.9414 10.0996C14 9.01562 14 5.76367 13.9414 4.67969ZM12.5352 11.2422C12.3301 11.8281 11.8613 12.2676 11.3047 12.502C10.4258 12.8535 8.375 12.7656 7.4375 12.7656C6.4707 12.7656 4.41992 12.8535 3.57031 12.502C2.98438 12.2676 2.54492 11.8281 2.31055 11.2422C1.95898 10.3926 2.04688 8.3418 2.04688 7.375C2.04688 6.4375 1.95898 4.38672 2.31055 3.50781C2.54492 2.95117 2.98438 2.51172 3.57031 2.27734C4.41992 1.92578 6.4707 2.01367 7.4375 2.01367C8.375 2.01367 10.4258 1.92578 11.3047 2.27734C11.8613 2.48242 12.3008 2.95117 12.5352 3.50781C12.8867 4.38672 12.7988 6.4375 12.7988 7.375C12.7988 8.3418 12.8867 10.3926 12.5352 11.2422Z" fill="#0052FF"/>
					</svg>
				</a>
				<a href="">
					<svg viewBox="0 0 15 13" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M13.4473 3.32812C14.0332 2.88867 14.5605 2.36133 14.9707 1.74609C14.4434 1.98047 13.8281 2.15625 13.2129 2.21484C13.8574 1.83398 14.3262 1.24805 14.5605 0.515625C13.9746 0.867188 13.3008 1.13086 12.627 1.27734C12.041 0.662109 11.25 0.310547 10.3711 0.310547C8.67188 0.310547 7.29492 1.6875 7.29492 3.38672C7.29492 3.62109 7.32422 3.85547 7.38281 4.08984C4.83398 3.94336 2.54883 2.71289 1.02539 0.867188C0.761719 1.30664 0.615234 1.83398 0.615234 2.41992C0.615234 3.47461 1.14258 4.41211 1.99219 4.96875C1.49414 4.93945 0.996094 4.82227 0.585938 4.58789V4.61719C0.585938 6.11133 1.64062 7.3418 3.04688 7.63477C2.8125 7.69336 2.51953 7.75195 2.25586 7.75195C2.05078 7.75195 1.875 7.72266 1.66992 7.69336C2.05078 8.92383 3.19336 9.80273 4.54102 9.83203C3.48633 10.6523 2.16797 11.1504 0.732422 11.1504C0.46875 11.1504 0.234375 11.1211 0 11.0918C1.34766 11.9707 2.95898 12.4688 4.7168 12.4688C10.3711 12.4688 13.4473 7.81055 13.4473 3.73828C13.4473 3.5918 13.4473 3.47461 13.4473 3.32812Z" fill="#0052FF"/>
					</svg>
				</a>
			</div>
		</div>

		<div class="item buttons">
			<a href="" class="button color-primary for-desktop">Zapisz się na Newsletter</a>
			<a href="" class="button color-primary for-mobile">Newsletter</a>
		</div>

		<div class="item switcher">
			<a href="" class="button color-switcher">
				<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.6875 4.625V1.8125C12.6875 1.31445 12.248 0.875 11.75 0.875H1.4375C0.910156 0.875 0.5 1.31445 0.5 1.8125V4.625C0.5 5.15234 0.910156 5.5625 1.4375 5.5625H11.75C12.248 5.5625 12.6875 5.15234 12.6875 4.625ZM13.625 2.75V6.5C13.625 7.02734 13.1855 7.4375 12.6875 7.4375H8C6.94531 7.4375 6.125 8.28711 6.125 9.3125V10.25C5.59766 10.25 5.1875 10.6895 5.1875 11.1875V14.9375C5.1875 15.4648 5.59766 15.875 6.125 15.875H8C8.49805 15.875 8.9375 15.4648 8.9375 14.9375V11.1875C8.9375 10.6895 8.49805 10.25 8 10.25V9.3125H12.6875C14.2402 9.3125 15.5 8.08203 15.5 6.5V4.625C15.5 3.59961 14.6504 2.75 13.625 2.75Z" fill="#061058"/>
				</svg>
			</a>
		</div>
	</div>

</header>
