<header id="header">

	<div class="header-left">
		<div class="item logo">
			<a href="" class="logo">
				{% include 'views/parts/logo.twig' %}
				<span>
					<strong>WordPressówka</strong>
					<small>Tygodnik społeczny i literacki</small>
				</span>
			</a>
		</div>
	</div>

	<div class="header-right">
		<div class="item search">
			<form>
				<input type="text" placeholder="Znajdź artykuł">
				<button type="submit">
					<svg width="9" height="15" viewBox="0 0 9 15" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M1.19264 13.8879C0.702234 13.4421 0.666064 12.6832 1.11185 12.1928L5.37806 7.49957L1.11192 2.80719C0.666089 2.31681 0.702199 1.55787 1.19257 1.11205C1.68294 0.666219 2.44188 0.702329 2.88771 1.1927L8.62157 7.49944L2.88777 13.8071C2.44198 14.2975 1.68305 14.3337 1.19264 13.8879Z" class="color-primary" />
					</svg>
				</button>
			</form>
		</div>

		<div class="item socials">
			<div class="links">
				<a href="">
					{% include 'views/parts/icons/facebook.twig' %}
				</a>
				<a href="">
					{% include 'views/parts/icons/linkedin.twig' %}
				</a>
				<a href="">
					{% include 'views/parts/icons/instagram.twig' %}
				</a>
				<a href="">
					{% include 'views/parts/icons/twitter.twig' %}
				</a>
			</div>
		</div>

		<div class="item buttons">
			<a href="" class="button color-primary for-desktop">Zapisz się na Newsletter</a>
			<a href="" class="button color-primary for-mobile">Newsletter</a>
		</div>

		<div class="item switcher">
			<a href="#" class="button color-switcher" id="themeswitcher">
				<svg viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M12.6875 4.625V1.8125C12.6875 1.31445 12.248 0.875 11.75 0.875H1.4375C0.910156 0.875 0.5 1.31445 0.5 1.8125V4.625C0.5 5.15234 0.910156 5.5625 1.4375 5.5625H11.75C12.248 5.5625 12.6875 5.15234 12.6875 4.625ZM13.625 2.75V6.5C13.625 7.02734 13.1855 7.4375 12.6875 7.4375H8C6.94531 7.4375 6.125 8.28711 6.125 9.3125V10.25C5.59766 10.25 5.1875 10.6895 5.1875 11.1875V14.9375C5.1875 15.4648 5.59766 15.875 6.125 15.875H8C8.49805 15.875 8.9375 15.4648 8.9375 14.9375V11.1875C8.9375 10.6895 8.49805 10.25 8 10.25V9.3125H12.6875C14.2402 9.3125 15.5 8.08203 15.5 6.5V4.625C15.5 3.59961 14.6504 2.75 13.625 2.75Z" fill="#061058"/>
				</svg>
			</a>
		</div>
	</div>

</header>
