<a class="edition" href="{{ post.link }}">
	<div>
		<time>{{ post.date('d F Y') }}</time>
		<p>{{ post.title }}</p>
		<h2>
			<span>Tematy:</span>
			WordCamp, Guteberg, HacktoberFest, Open source, WP CLI, wcldz
		</h2>
	</div>
</a>
