@charset 'utf-8';
@import "components/fonts.scss";
@import "components/variables.scss";

.wp-block {
    max-width: 1280px;
}

.block-editor-block-list__layout {
    --color-white: #ffffff;
    --color-form-bg: #ffffff;
    --color-form-input: #B4B7CC;
    --color-switcher: rgb(30, 30, 30);
    --color-switcher-bg: #ffffff;
    --color-bg: #ffffff;
    --color-bg-offset: #F7F7FB;
    --color-text: rgb(30, 30, 30);
    --color-primary: rgb(30, 30, 30);
    --color-secondary: rgb(30, 30, 30);
    --color-link: rgb(30, 30, 30);
    --color-shadow: rgb(30, 30, 30);

    @import "components/reset.scss";
    @import "components/standards.scss";
    @import "components/wordpressowka2021.scss";

    .wordpressowka-block p {
        font-family: $font-2;
    }
}

.acf-block-preview {
    .home-top {
        grid-template-columns: 0px 1fr 1fr !important;
        padding: 0 !important;
    }

    form {
        input {
            width: 100% !important;
        }
    }

    .wordpressowka-link {
        margin-bottom: 28px !important;
    }

    .wp-block {
        font-family: $font-2 !important;
        margin-bottom: 28px !important;
    }

    .border-top {
        margin: 30px 0 !important;
        border-top: 2px solid rgb(30, 30, 30) !important;
    }
}

p.wp-block-paragraph {
    color: rgb(30, 30, 30);
    font-family: $font-2;
}

.wp-block-heading {
    line-height: 1.6;
    font-family: $font-1;
    font-weight: 700;
    color:rgb(30, 30, 30);
}
