$global-radius: 0px;

$assets: "../../dist/images";

$font: 'Catamaran', sans-serif;
$black: #000;
$darktext: rgba($black, 0.6);
$lighttext: rgba($black, 0.19);
$light: rgba($black, 0.07);
$white: #fff;