$primary: rgb(20, 38, 100);

$darkcolor: #3658D1;

$lightcolor: #416BFF;

$light: #B7BBE2;

$white: #fff;

$green: #3FFF6C;

$global-radius: 0px;

$assets: "../../dist/images";

$font: 'Catamaran', sans-serif;