.wordpressowka-block {
    .wordpressowka-link {
        position: relative;
        margin-bottom: 80px;

        @media screen and (max-width: 680px) {
            margin-bottom: 40px;
        }

        &.photobg {
            border-radius: 15px;
            overflow: hidden;

            .inner {
                position: relative;
                z-index: 10;
                padding: 60px 40px;
                max-width: none;

                @media screen and (max-width: 680px) {
                    padding: 40px 30px;
                }

                p {
                    color: #{var(--color-white)};
                    max-width: none;

                    a {
                        @extend .animation;
                        color: #{var(--color-white)};
                        border-bottom: 1px solid #{var(--color-white)};

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }

                .link {
                    color: #{var(--color-white)};
                    border-bottom-color: #{var(--color-white)};
                    @extend .animation;

                    &:hover {
                        color: #{var(--color-white)} !important;
                        opacity: 0.8;
                    }
                }
            }

            picture {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 1;
            }

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background: #{var(--color-primary)};
                opacity: 0.89;
            }
        }

        &.event {
            .inner {
                background-color: #{var(--color-primary)};
                padding: 60px 40px;
                display: grid;
                grid-template-columns: 170px 1fr;
                grid-gap: 30px;
                align-items: center;
                align-content: center;

                @media screen and (max-width: 1366px) {
                    grid-template-columns: 140px 1fr;
                }

                @media screen and (max-width: 880px) {
                    grid-template-columns: 1fr;
                }

                picture, img, source {
                    width: 170px;
                    border-radius: 0;
                }

                @media screen and (max-width: 680px) {
                    padding: 40px 30px;
                }

                @media screen and (min-width: 1366px) {
                    max-width: none;
                }

                h2 {
                    color: #{var(--color-white)};
                }

                p {
                    color: #{var(--color-white)};
                    max-width: none;

                    a {
                        @extend .animation;
                        color: #{var(--color-white)};
                        border-bottom: 1px solid #{var(--color-white)};

                        &:hover {
                            opacity: 0.7;
                        }
                    }
                }

                .link {
                    color: #{var(--color-white)};
                    border-bottom-color: #{var(--color-white)};
                    @extend .animation;

                    &:hover {
                        color: #{var(--color-white)} !important;
                        opacity: 0.8;
                    }
                }
            }
        }

        &.photo {
            display: grid;
            grid-template-columns: 208px 1fr;
            grid-gap: 30px;
            align-items: stretch;
            align-content: center;

            @media screen and (max-width: 1366px) {
                grid-template-columns: 160px 1fr;
            }

            @media screen and (max-width: 880px) {
                grid-template-columns: 1fr;
            }

            picture,
            img,
            source {
                border-radius: 15px;
            }

            .inner {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                background-color: #{var(--color-form-bg)};
                padding: 40px 40px;

                @media screen and (max-width: 680px) {
                    padding: 40px 30px;
                }

                @media screen and (min-width: 1366px) {
                    max-width: none;
                }

                &:after {
                    @extend .after-shadow;
                }
            }

            picture {
                position: relative;

                &:after {
                    @extend .after-shadow;
                }
            }
        }

        .inner {
            padding: 0 40px;
            border-radius: 15px;

            p,
            ul,
            ol,
            h2,
            h3,
            h4 {
                padding: 0;
                margin: 0;
            }

            @media screen and (min-width: 1366px) {
                max-width: 760px;
            }

            h2 {
                margin-bottom: 20px !important;
                font-size: 22px !important;
                @extend .animation;
                color: #{var(--color-secondary)};
            }

            p {
                @extend .animation;
                color: #{var(--color-text)};
                // line-height: 1.45;
                // font-size: 16px;
            }

            .link {
                font-weight: 700;
                display: inline;
                // font-size: 18px;
                // line-height: 1.6;
                border-bottom: 1px solid #{var(--color-primary)};
                color: #{var(--color-link)};
                @extend .animation;
                font-family: $font-poppins;

                &:hover {
                    color: #{var(--color-secondary)};
                }

                &:before {
                    content: "";
                    display: block;
                    margin-top: 15px;
                    position: relative;
                    width: 100%;
                }
            }

            @media screen and (max-width: 1024px) {
                padding: 0px;
            }
        }

        picture,
        source,
        img {
            max-width: 100%;
        }
    }
}
