.wordpressowka-block {
    .wordpressowka-link {
        position: relative;

        path,
        rect,
        polyline,
        circle,
        polygon,
        ellipse,
        line {
            @extend .animation;
        }

        &:hover {
            svg {
                path,
                rect,
                polyline,
                circle,
                polygon,
                ellipse,
                line {
                    fill: #{var(--color-secondary)} !important;
                }
            }
        }

        &.link-default {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto;
            gap: 25px;
        }

        &.photobg {
            border-radius: $global-radius;
            overflow: hidden;

            .inner {
                position: relative;
                z-index: 10;
                padding: 40px;
                max-width: none;

                @media screen and (max-width: 680px) {
                    padding: 30px;
                }

                p {
                    color: #{var(--color-white)};

                    a {
                        @extend .animation;
                        color: #{var(--color-white)};
                        border-bottom: 1px solid #{var(--color-white)};

                        &:hover {
                            color: rgba(#ffffff, 0.7) !important;
                        }
                    }
                }

                .link {
                    color: #{var(--color-white)};
                    border-bottom: 1px solid #{var(--color-white)};
                    @extend .animation;

                    &:hover {
                        color: rgba(#ffffff, 0.7) !important;
                    }
                }
            }

            picture {
                position: absolute;
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                z-index: 1;
                object-fit: cover;
                height: auto;
                width: 100%;

                img,
                source {
                    object-fit: cover;
                    height: auto;
                    width: 100%;
                }
            }

            &:before {
                content: "";
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 2;
                background: #{var(--color-primary)};
                opacity: 0.89;
            }
        }

        &.event {
            display: grid;
            grid-template-columns: 240px 1fr;
            grid-gap: 50px;
            align-items: center;
            align-content: center;
            @extend .animation;

            @media screen and (max-width: 1366px) {
                grid-template-columns: 140px 1fr;
            }

            @media screen and (max-width: 880px) {
                grid-template-columns: 1fr;
            }

            .inner {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                gap: 25px;
                align-self: center;
                height: auto;
            }

            .time {
                padding: 40px;
                border-radius: $global-radius;
                border: 1px dashed #{var(--color-primary)};
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                gap: 10px;
                align-items: center;
                align-content: center;

                @media screen and (max-width: 680px) {
                    padding: 30px;
                }

                strong,
                small,
                span {
                    margin: 0 !important;
                    line-height: 100% !important;
                }

                strong {
                    color: #{var(--color-primary)};
                    @include fluid-font(3vw, 40px, 44px, 46px);
                    font-family: $font-1;
                }

                span {
                    font-weight: 700;
                    @include fluid-font(3vw, 20px, 21px, 22px);
                }

                small {
                    @include fluid-font(3vw, 13px, 14px, 15px);
                    opacity: 0.8;
                    @extend .animation;
                }
            }
        }

        &.shadow-bg {
            .inner {
                position: relative;
                padding: 40px;
                border-radius: $global-radius;
                border: 1px dashed #{var(--color-primary)};

                @media screen and (max-width: 680px) {
                    padding: 30px;
                }
            }
        }

        &.photo {
            display: grid;
            grid-template-columns: 200px 1fr;
            grid-gap: 50px;
            align-items: stretch;
            align-content: center;
            border-radius: $global-radius;
            border: 1px solid rgba(#152C5B, 0.08);
            @extend .animation;
            padding: 40px;

            html[data-theme="dark"] & {
                border: 1px solid rgba(#ffffff, 0.1) !important;
            }

            @media screen and (max-width: 680px) {
                padding: 30px;
            }

            @media screen and (max-width: 1366px) {
                grid-template-columns: 160px 1fr;
            }

            @media screen and (max-width: 880px) {
                grid-template-columns: 1fr;
            }

            picture,
            img,
            source {
                border-radius: $global-radius;
                line-height: normal;
                display: block;
                height: auto;
            }

            .inner {
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: auto;
                gap: 25px;
                align-self: center;
                height: auto;
            }
        }

        .inner {
            p,
            ul,
            ol,
            h2,
            h3,
            h4 {
                padding: 0;
                margin: 0;
            }

            h2 {
                @extend .animation;
                color: #{var(--color-primary)};
            }

            p {
                @extend .animation;
                color: #{var(--color-text)};
            }

            .link {
                font-weight: 400;
                display: inline;
                border-bottom: 1px solid #{var(--color-link)};
                color: #{var(--color-primary)};
                @extend .animation;
                font-family: $font-1;

                html[data-theme="dark"] & {
                    border-bottom: 1px solid #{var(--color-primary)} !important;

                    &:hover {
                        border-bottom: 1px solid #{var(--color-white)} !important;
                    }
                }

                &:hover {
                    color: #{var(--color-secondary)};
                }

                &:before {
                    content: "";
                    display: block;
                    margin-top: 15px;
                    position: relative;
                    width: 100%;
                }
            }
        }

        picture,
        source,
        img {
            max-width: 100%;
            width: 100%;
        }
    }

    .wordpressowka-guest {
        padding: 40px;
        display: grid;
        grid-template-columns: 220px 1fr;
        grid-gap: 50px;
        align-items: start;
        align-content: center;
        border: 1px solid rgba(#152C5B, 0.08);
        @extend .animation;
        border-radius: $global-radius;

        html[data-theme="dark"] & {
            border: 1px solid rgba(#ffffff, 0.1) !important;
        }

        @media screen and (max-width: 1366px) {
            grid-template-columns: 160px 1fr;
        }

        @media screen and (max-width: 880px) {
            grid-template-columns: 1fr;
        }

        @media screen and (min-width: 881px) and (max-width: 1024px) {
            grid-gap: 40px;
        }

        @media screen and (max-width: 680px) {
            padding: 30px;
        }

        picture,
        img,
        source {
            max-width: 100%;
            height: auto;
            border-radius: $global-radius;
        }

        .face {
            position: sticky;
            top: 100px;

            .small {
                @include fluid-font(3vw, 13px, 14px, 15px);
                margin: 0;

                a {
                    color: #{var(--color-secondary)};
                    text-decoration: none !important;
                    border-bottom: 1px solid #{var(--color-primary)};

                    &:hover,
                    &:focus {
                        color: #{var(--color-primary)};
                        border-bottom: 1px solid #{var(--color-primary)};
                    }
                }

                p {
                    margin: 0;
                    opacity: 1;
                }
            }

            @media screen and (max-width: 880px) {
                position: relative;
                top: auto;
            }

            strong {
                @extend .animation;
                color: #{var(--color-primary)};
                display: block;
                margin-bottom: 10px;
                margin-top: 10px;
                font-family: $font-2;
                font-weight: 700;
                @include fluid-font(3vw, 18px, 19px, 20px);
            }
        }

        .wordpressowka-guest-links {
            @media screen and (max-width: 1366px) {
                .wordpressowka-link {
                    padding-right: 0;
                    padding-left: 0;
                }
            }
        }
    }
}
