$gridspace: 50px;
$gridspace_x2: $gridspace * 2;

$gridcolumns: (1, 2, 3, 4, 6);
@each $column in $gridcolumns {
    // use: grid-columns-3
    .grid-columns-#{$column} {
        grid-template-columns: repeat($column, 1fr);

        @media screen and (max-width: 1023px) {
            grid-template-columns: repeat(1, 1fr);
        }

        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(1, 1fr);
        }
    }
}

.grid {
    display: grid;
    line-height: 1.5;
    max-width: 1290px;
    margin: 0 auto;
    width: 100%;
    //grid-auto-rows: 1fr;

    &-columns-2 {
        @media screen and (min-width: 1280px) {
            gap: $gridspace_x2 !important;
        }
    }

    &-reverse {
        .item-content {
            order: 1;
        }

        .item {
            order: 2;
        }
    }

    .item {
        justify-self: stretch;

        img {
            max-width: 100%;
            border-radius: $global-radius;
            height: auto;
        }

        &.item-article-column {
            display: grid;
            grid-template-columns: 1fr;
            gap: 50px;

            @media screen and (max-width: 1024px) {
                gap: 35px;
            }
        }
    }

    &.grid-wide {
        max-width: 1570px;
    }

    &.grid-narrow {
        max-width: 990px;
    }

    &-gap {
        grid-gap: $gridspace;
    }

    *:last-child {
        margin-bottom: 0 !important;
    }

    & + .grid {
        margin-top: $gridspace;
    }

    .grid {
        padding-left: 0;
        padding-right: 0;
    }

    &-center {
        justify-items: center;
        justify-content: center;

        @media screen and (min-width: 1024px) {
            max-width: 800px !important;
            margin: 0 auto;
        }
    }

    &-scroll-mobile {
        @media screen and (max-width: 680px) {
            grid-template-columns: repeat(auto-fill, 260px);
            grid-auto-flow: column;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            padding-bottom: $gridspace / 2;

            .item {
                min-width: 260px;

                &:last-child {
                    padding-right: $gridspace / 2;
                }
            }
        }
    }

    &-align {
        &-middle {
            align-items: center;
        }

        &-bottom {
            align-items: end;
        }

        &-top {
            align-items: start;
        }
    }

    &.grid-blog {
        @media screen and (min-width: 1920px) {
            grid-template-columns: 880px 1fr;
        }

        @media screen and (min-width: 1025px) and (max-width: 1919px) {
            grid-template-columns: 1fr 1fr;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
        }
    }
}
