#header {
    display: grid;
    padding: 30px 50px;
    width: calc(100% - 100px);
    gap: 50px;
    align-items: center;
    grid-template-columns: 230px 1fr 300px;
    position: fixed;
    z-index: 666;

    @media screen and (min-width: 1920px) {
        grid-template-columns: 300px 770px 1fr;
    }

    @media screen and (max-width: 800px) {
        padding: 20px 35px !important;
        grid-template-columns: 1fr 1fr !important;
        width: calc(100% - 70px) !important;
    }

    @media screen and (max-width: 1280px) {
        grid-template-columns: 230px 1fr;
        padding: 30px 50px;
        gap: 30px;
    }

    .logo {
        a.logo {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-start;
            line-height: 0.8;
            font-family: $font-1;

            svg {
                height: 45px;

                @media screen and (max-width: 800px) {
                    height: 52px;
                }

                .color-primary {
                    fill: #{var(--color-primary)};
                    @extend .animation;
                }
            }

            span {
                margin-left: 20px;

                @media screen and (max-width: 680px) {
                    display: none;
                }

                strong {
                    display: block;
                    color: #{var(--color-secondary)};
                    font-size: 18px;
                    font-weight: 800;
                    @extend .animation;
                }

                small {
                    font-size: 8px;
                    color: #{var(--color-primary)};
                    @extend .big;
                    font-family: $font-2;
                    font-weight: 400;
                }
            }
        }
    }

    .header-right {
        justify-self: end;

        .inner {
            display: grid;
            justify-items: end;
            grid-template-columns: 1fr 52px;
            gap: 30px;
            justify-self: end;

            @media screen and (max-width: 800px) {
                grid-template-columns: 52px 52px !important;
            }

            @media screen and (max-width: 1280px) {
                gap: 20px;
                grid-template-columns: 1fr 52px 52px;
            }
        }

        .burger {
            @media screen and (min-width: 1281px) {
                display: none;
            }
        }

        .burger-wrapper {
            position: relative;
            height: 52px;
            width: 52px;
            border-radius: 50%;
            background-color: #{var(--color-primary)};
        }

        .hamburger {
            transform: translateY(rem-calc(0));
            z-index: 500;
            cursor: pointer;
            @extend .animation;
            display: inline-block;
            vertical-align: middle;
            position: absolute;
            padding: 13px 0 0 13px;

            .line {
                width: 25px;
                height: 3px;
                background-color: #{var(--color-white)};
                display: block;
                margin: 4px auto;
                @extend .animation;

                &:nth-child(2) {
                    transition-delay: 0.3s;
                }
            }

            &.is-active {
                transform: rotate(90deg) translateX(0px) translateY(-5px);

                .line:nth-child(2) {
                    transition: none;
                    opacity: 0;
                }

                .line:nth-child(1),
                .line:nth-child(3){
                    width: 17px;
                    transform-origin: right;
                }

                .line:nth-child(1){
                    transform: translateY(0px) rotate(45deg);
                }

                .line:nth-child(3){
                    transform: translateY(-15px) rotate(-45deg);
                }
            }
        }
    }

    .header-center {
        @media screen and (max-width: 1280px) {
            display: none;
        }

        ul {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            margin: 0;

            li {
                margin: 0;
                @include fluid-font(3vw, 14px, 16px, 18px);
                font-family: $font-2;
                font-weight: 700;
                padding-right: 20px;

                @media screen and (min-width: 1920px) {
                    padding-right: 30px;
                }

                a {
                    display: block;
                    position: relative;
                    color: #{var(--color-secondary)};

                    &:hover {
                        color: #{var(--color-primary)};
                    }
                }

            }
        }
    }

    .socials {
        display: inline-block;
        padding: 0 30px;
        line-height: 52px;
        height: 52px;
        border-radius: 30px;
        position: relative;
        background-color: #{var(--color-switcher-bg)};

        @media screen and (max-width: 800px) {
            display: none;
        }

        &:after {
            @extend .after-shadow;

            @media screen and (max-width: 1024px) {
                filter: blur(28px);
                opacity: 0.36;
                transform: translateX(0) translateY(6px);
            }
        }

        .links {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: flex-end;

            a {
                padding: 0 0 0 20px;
                @extend .animation;
                transform-origin: 50% 50%;

                &:first-child {
                    padding: 0;
                }

                &:hover {
                    svg {
                        transform: translateY(-4px) rotate(-15deg);
                    }
                }

                svg {
                    height: 14px;
                    width: auto;
                    @extend .animation;
                    transform-origin: 50% 50%;

                    path,
                    rect,
                    polyline,
                    circle,
                    polygon,
                    ellipse,
                    line {
                        fill: #{var(--color-link)};
                    }
                }
            }
        }
    }
}
