h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-1;
    font-weight: normal;
}

.section-border-bottom {
    max-width: 1570px;
    margin: 0 auto;
    border-bottom: 1px solid rgba(#152C5B, 0.08);

    html[data-theme="dark"] & {
        border: 1px solid rgba(#ffffff, 0.1);
    }
}

.newsletter-form {
    display: grid;
    gap: 30px;
    grid-template-rows: 1fr;

    .secondary-background & {
        input[type="text"],
        input[type="email"],
        input[type="name"],
        input[type="search"] {
            background-color: rgba($color-black, 0.2);
            color: #{var(--color-white)} !important;
        }
    }

    form {
        display: grid;
        gap: 30px;
        grid-template-columns: 1fr 250px;
        align-items: end;

        @media screen and (max-width: 800px) {
            grid-template-columns: 1fr;
        }

        label {
            font-weight: 700;
            @include fluid-font(3vw, 14px, 16px, 16px);
        }
    }

    .small {
        margin: 0 auto;
        max-width: 650px;

        p {
            @include fluid-font(3vw, 12px, 14px, 16px);
            line-height: 1.45;
            display: block;

            strong,
            b {
                color: #{var(--color-primary)};
            }
        }
    }

    p {
        margin: 0 auto;
        max-width: 1000px;
        @include fluid-font(3vw, 16px, 20px, 22px);

        strong,
        b {
            color: #{var(--color-primary)};
        }
    }
}

.home-top {
    display: grid;
    grid-template-columns: 230px 1fr 1fr;
    gap: 50px;
    padding: 0 0 0 50px;
    align-items: end;

    @media screen and (min-width: 1920px) {
        grid-template-columns: 300px 1fr 1fr;
        align-items: center;
    }

    @media screen and (min-width: 1281px) and (max-width: 1600px) {
        grid-template-columns: 1px 1fr 500px;
        padding: 0 0 0 50px;
    }

    @media screen and (min-width: 1025px) and (max-width: 1279px) {
        grid-template-columns: 1px 1fr 300px !important;
        padding: 0 0 0 50px !important;
    }

    @media screen and (min-width: 1601px) and (max-width: 1800px) {
        grid-template-columns: 1px 1fr 1fr;
        padding: 0 0 0 50px;
    }

    @media screen and (max-width: 1280px) {
        grid-template-columns: 230px 1fr;
        padding: 0 50px;
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        padding: 0 50px;
    }

    @media screen and (max-width: 800px) {
        padding: 0 35px;
    }

    .empty {
        @media screen and (max-width: 1024px) {
            display: none;
        }
    }

    .newsletter {
        padding-top: 200px;
        display: grid;
        grid-template-rows: 1fr;
        gap: 50px;
        position: relative;
        z-index: 10;

        @media screen and (min-width: 2000px) {
            padding-top: 100px;
        }

        @media screen and (max-width: 1024px) {
            padding-top: 150px;
        }

        @media screen and (max-width: 800px) {
            gap: 30px;
        }

        h1 {
            @include fluid-font(3vw, 30px, 60px, 70px);
            line-height: 1.1;
        }

        .small {
            p {
                @include fluid-font(3vw, 12px, 14px, 16px);
                line-height: 1.45;
                display: block;

                strong,
                b {
                    color: #{var(--color-primary)};
                }
            }
        }

        p {
            @include fluid-font(3vw, 16px, 20px, 22px);

            strong,
            b {
                color: #{var(--color-primary)};
            }
        }

        form {
            display: grid;
            gap: 30px;
            grid-template-columns: 1fr 250px;
            align-items: end;

            @media screen and (min-width: 1024px) {
                width: 120%;
            }

            @media screen and (max-width: 800px) {
                grid-template-columns: 1fr;
            }

            label {
                font-weight: 700;
                @include fluid-font(3vw, 14px, 16px, 16px);
            }

            html[data-theme="dark"] & {
                input[type="text"],
                input[type="email"],
                input[type="name"],
                input[type="search"] {
                    background-color: rgba($color-black, 0.2);
                    color: #{var(--color-white)} !important;
                }
            }
        }
    }

    .photo {
        align-self: stretch;
        position: relative;
        z-index: 2;

        @media screen and (max-width: 1024px) {
            display: none;
        }

        picture {
            display: block;
            width: 100%;
            height: 100%;

            img {
                display: block;
                line-height: 0;
                object-fit: cover;
                width: 100%;
                height: 100%;
                border-radius: 0 0 0 80px;
            }
        }
    }
}

.section {
    padding: 0 50px;

    @media screen and (max-width: 800px) {
        padding: 0 35px;
    }
}

.section-title {
    @include fluid-font(3vw, 30px, 35px, 40px);
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 60px;

    &:after {
        content: "";
        width: 47px;
        height: 4px;
        background-color: #{var(--color-primary)};
        position: absolute;
        border-radius: 5px;
    }

    &.text-center {
        text-align: center;

        &:after {
            bottom: 0;
            transform: translateX(-50%);
            left: 50%;
        }
    }

    &.text-left {
        text-align: left;

        &:after {
            bottom: 0;
            left: 0;
        }
    }
}

.owl-article {
    display: grid;

    &:hover {
        h2 {
            transform: translateY(-5px);

            a {
                color: #{var(--color-primary)} !important;
            }
        }

        svg {
            path,
            rect,
            polyline,
            circle,
            polygon,
            ellipse,
            line {
                fill: #{var(--color-secondary)} !important;
            }
        }
    }

    .article-cover {
        display: block;

        picture,
        source,
        img {
            display: block;
            line-height: 0;
        }
    }

    .article-content {
        display: grid;
        gap: 35px;

        @media screen and (max-width: 1024px) {
            gap: 25px;
        }

        h2 {
            @extend .animation;

            a {
                color: #{var(--color-secondary)};

                &:hover,
                &:focus {
                    color: #{var(--color-primary)};
                }
            }
        }

        svg {
            path,
            rect,
            polyline,
            circle,
            polygon,
            ellipse,
            line {
                fill: #{var(--color-primary)};
                @extend .animation;
            }
        }
    }

    &.article-big {
        grid-template-columns: 1fr;
        gap: 35px;

        @media screen and (max-width: 1024px) {
            gap: 25px;
        }

        .article-content {
            padding: 0 50px;

            @media screen and (max-width: 1024px) {
                padding: 0 35px;
            }

            @media screen and (max-width: 680px) {
                padding: 0px !important;
            }
        }

        h2 {
            @include fluid-font(3vw, 26px, 40px, 60px);
            line-height: 1.4;

            @media screen and (max-width: 1024px) {
                @include fluid-font(3vw, 26px, 27px, 28px);
            }
        }
    }

    &.article-small {
        grid-template-columns: 260px 1fr;
        gap: 50px;
        align-items: center;

        @media screen and (max-width: 1024px) {
            gap: 25px;
            grid-template-columns: 1fr;
        }

        .article-content {
            @media screen and (max-width: 1024px) {
                padding: 0 35px;
            }

            @media screen and (max-width: 680px) {
                padding: 0px !important;
            }
        }

        h2 {
            @include fluid-font(3vw, 20px, 23px, 26px);
            line-height: 1.4;

            @media screen and (max-width: 1024px) {
                @include fluid-font(3vw, 26px, 27px, 28px);
            }
        }
    }
}

.grid-single {
    display: grid;
    grid-template-columns: 230px 1fr 280px;
    gap: 50px;
    padding: 0 50px;
    justify-items: stretch;

    @media screen and (min-width: 1920px) {
        grid-template-columns: 300px 900px 1fr;
        justify-items: end;
    }

    @media screen and (max-width: 1024px) {
        grid-template-columns: 1fr;
        padding: 0 35px;
    }

    @media screen and (max-width: 800px) {
        padding: 0 35px !important;
    }

    @media screen and (min-width: 1025px) and (max-width: 1366px) {
        grid-template-columns: 1fr 260px !important;
        gap: 100px;

        .empty {
            display: none !important;
        }
    }

    @media screen and (max-width: 1024px) {
        .empty {
            display: none !important;
        }

        .item-single {
            order: 2;
            padding-top: 0 !important;
        }

        .item-fixed {
            order: 1;
            padding-top: 100px !important;
        }
    }

    .item-single,
    .item-fixed {
        padding-top: 200px;
    }

    .item-fixed {
        @media screen and (max-width: 1024px) {
            padding-top: 50px;
        }
    }
}

.item-single,
.wordpressowka-guest-links {
    display: grid;
    gap: 50px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
}

.item-post {
    border-radius: $global-radius;
    border: 1px solid rgba(#152C5B, 0.08);
    @extend .animation;
    position: relative;
    padding-bottom: 50px;

    @media screen and (max-width: 1023px) {
        padding-bottom: 50px;
    }

    .box {
        padding: 50px;
        display: block;
        position: relative;

        @media screen and (max-width: 1023px) {
            padding: 30px;
        }
    }

    .inner {
        display: grid;
        grid-template-rows: 1fr;
        gap: 35px;
        align-items: start;
    }

    &:hover {
        border: 1px solid rgba(#152c5b, 0);
        box-shadow: -2px 25px 60px -5px rgba(#152C5B, 0.08);

        time {
            color: #{var(--color-secondary)};
            opacity: 0.4;
        }

        h3 {
            color: #{var(--color-primary)};
            transform: translateY(-5px);
        }

        svg {
            path {
                fill: #{var(--color-secondary)};
            }
        }
    }

    html[data-theme="dark"] & {
        border: 1px solid rgba(#ffffff, 0.1);

        &:hover {
            border: 1px solid rgba(#ffffff, 0);
            box-shadow: -2px 25px 60px -5px rgba(#000000, 0.4);
        }
    }

    h3 {
        @include fluid-font(3vw, 24px, 24px, 26px);
        color: #{var(--color-secondary)};
        @extend .animation;
    }

    time {
        color: #{var(--color-primary)};
        font-weight: 700;
        @extend .animation;
        align-self: start;
        @include fluid-font(3vw, 14px, 15px, 16px);
    }

    p {
        color: #{var(--color-secondary)};
    }

    svg {
        position: absolute;
        bottom: 50px;
        left: 50px;
        @extend .animation;

        @media screen and (max-width: 1023px) {
            bottom: 30px;
            left: 30px;
        }

        path,
        rect,
        polyline,
        circle,
        polygon,
        ellipse,
        line {
            fill: #{var(--color-primary)};
            @extend .animation;
        }
    }
}

.item-content {
    p {
        margin-bottom: 30px;
    }

    a {
        color: #{var(--color-secondary)};
        border-bottom: 2px solid #{var(--color-primary)};
        text-decoration: none;

        &:hover {
            color: #{var(--color-primary)};
        }
    }
}

.single-entry {
    &-wrapper {
        margin-top: 30px;

        @media screen and (max-width: 1024px) {
            margin-top: 30px;
        }
    }

    &-header {
        position: relative;
        margin-bottom: 60px;

        @media screen and (max-width: 680px) {
            margin-bottom: 40px;
        }

        h2 {
            position: relative;
            z-index: 10;
            color: #{var(--color-primary)};
            font-weight: 800;
            margin: 0;
            @extend .animation;

            @media screen and (min-width: 1367px) {
                font-size: 56px;
                padding-top: 62px;
            }

            @media screen and (max-width: 1366px) {
                font-size: 46px;
                padding-top: 46px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 30px;
                padding-top: 35px;
            }

            @media screen and (max-width: 680px) {
                font-size: 23px;
                padding-top: 30px;
            }
        }

        time {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;
            color: #{var(--color-secondary)};
            opacity: 0.08;
            font-family: $font-1;
            font-weight: 800;
            @extend .animation;

            @media screen and (min-width: 1367px) {
                font-size: 96px;
            }

            @media screen and (max-width: 1366px) {
                font-size: 76px;
            }

            @media screen and (max-width: 1024px) {
                font-size: 56px;
            }

            @media screen and (max-width: 680px) {
                font-size: 20px;
                opacity: 0.1;
            }
        }

        &.article-entry-header {
            text-align: center;

            h2 {
                line-height: 1.2;
            }

            time {
                position: relative !important;
                font-size: 16px;
                opacity: 1 !important;
                display: block;
                margin-bottom: 20px;
            }
        }
    }

    &-columns {
        display: grid;
        justify-items: stretch;
        grid-template-columns: minmax(300px, 1135px) minmax(200px, 500px);
        grid-gap: 150px;
        @extend .animation;
        justify-content: space-between;

        @media screen and (max-width: 1800px) {
            grid-template-columns: minmax(300px, 1135px) minmax(200px, 350px);
            grid-gap: 75px;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-gap: 60px;
        }
    }

    &-onecolumn {
        display: grid;
        justify-items: stretch;
        grid-template-columns: minmax(300px, 880px);
        grid-gap: 150px;
        @extend .animation;
        justify-content: center;
        justify-items: center;

        @media screen and (max-width: 1800px) {
            grid-template-columns: minmax(300px, 760px);
            grid-gap: 75px;
        }

        @media screen and (max-width: 1024px) {
            grid-template-columns: 1fr;
            grid-gap: 60px;
        }

        p,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul,
        ol {
            max-width: none !important;
            padding: 0 !important;
        }

        .entry-content {
            h2,
            h3,
            h4,
            h5,
            h6 {
                position: relative;
                padding-bottom: 20px !important;

                &:before {
                    content: "";
                    width: 60px;
                    height: 3px;
                    border-radius: 10px;
                    background-color: #{var(--color-primary)};
                    position: absolute;
                    bottom: 0;
                    left: 0;
                }
            }

            .wp-block-image {
                &:after {
                    display: none !important;
                }
            }
        }

        .post-cover {
            display: block;
            font-size: 0;
            line-height: 0;
            @media screen and (min-width: 1800px) {
                width: calc(100% + 200px);
                transform: translateX(-100px);
            }

            img,
            source {
                border-radius: 20px;
                height: auto;
                max-width: 100% !important;
            }
        }
    }
}

.entry-content {
    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;

        time {
            color: #{var(--color-primary)};
            font-family: $font-2;
            font-weight: 700;
            @include fluid-font(3vw, 16px, 19px, 22px);
            display: block;
            line-height: 100%;
        }

        h1 {
            color: #{var(--color-secondary)};
            font-family: $font-1;
            font-weight: 400;
            @include fluid-font(3vw, 30px, 45px, 60px);
        }
    }

    h2, h3, h4 {
        line-height: 1.2 !important;
    }

    p,
    ul,
    ol,
    h2,
    h3,
    h4 {
        @extend .animation;
        line-height: 1.6;
        color: #{var(--color-secondary)};

        code {
            overflow-wrap: break-word;
            word-wrap: break-word;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            padding: 0.1rem 0.3rem 0.2rem;
            border-radius: $global-radius;
            background: rgba(#152c5b, 0.07);

            html[data-theme="dark"] & {
                background: rgba(#ffffff, 0.1);
            }
        }
    }

    .wp-block-separator {
        margin: 0;
        position: relative;
        border: 0;
        height: 2px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100px;
            height: 2px;
            border-radius: 10px;
            display: block;
            z-index: 10;
            background-color: #{var(--color-primary)};
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 2px;
            border-radius: $global-radius;
            display: block;
            opacity: 0.03;
            z-index: 2;
            background-color: #{var(--color-secondary)};
        }

        @media screen and (max-width: 1024px) {
            padding: 0px;
        }
    }

    h2,
    h3,
    h4 {
        @extend .animation;
        color: #{var(--color-secondary)};

        a {
            color: #{var(--color-secondary)};
            border-bottom: 1px solid #{var(--color-secondary)};
        }
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 24px;
    }

    h4 {
        font-size: 20px;
    }

    ol {
        list-style-type: none;
        counter-reset: li;

        &.ais-Hits-list {
            max-width: none;
            padding: 0;

            li {
                padding: 0;
                position: relative;
                background-color: #{var(--color-form-bg)};
                padding: 40px 40px;
                margin-bottom: 40px;
                border-radius: 15px;

                &:after {
                    @extend .after-shadow;
                }

                @media screen and (max-width: 680px) {
                    padding: 40px 30px;
                }

                @media screen and (min-width: 1366px) {
                    max-width: none;
                }

                &:before {
                    display: none;
                }

                .hit-name {
                    a {
                        font-family: $font-1 !important;
                        font-weight: 700 !important;
                        border: none !important;
                        color: #{var(--color-primary)};
                        @extend .animation;

                        .ais-Highlight-highlighted {
                            font-style: normal;
                            background-color: #{var(--color-primary)};
                            color: #{var(--color-white)};
                        }

                        &:hover {
                            color: #{var(--color-secondary)};
                        }
                    }
                }

                .hit-description {
                    font-family: $font-1;
                    font-weight: 400;
                    @include fluid-font(3vw, 14px, 17px, 35px);
                    color: #{var(--color-secondary)};
                    @extend .animation;

                    .ais-Snippet-highlighted {
                        font-style: normal;
                        background-color: #{var(--color-primary)};
                        color: #{var(--color-white)};
                        font-weight: 400;
                    }
                }
            }
        }

        li {
            position: relative;
            padding-left: 30px;
            margin-bottom: 16px;

            &:before {
                display: inline-block;
                content: counters(li, ".");
                font-family: $font-2;
                font-weight: 700;
                color: #{var(--color-primary)};
                font-size: 15px;
                position: absolute;
                top: 4px;
                left: 0;
                counter-increment: li;
            }
        }
    }

    ul {
        list-style-type: none;

        &.ais-Pagination-list {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: center;
            justify-content: center;
            max-width: none;
            padding: 0;
            font-family: $font-1;
            font-weight: 700;
            @include fluid-font(3vw, 14px, 17px, 35px);

            @media screen and (max-width: 660px) {
                li {
                    padding: 0 12px !important;

                    &.ais-Pagination-item--lastPage,
                    &.ais-Pagination-item--firstPage {
                        display: none !important;
                    }
                }
            }

            li {
                padding: 0 20px;
                //justify-self: stretch;
                text-align: center;
                margin-bottom: 0;
                @extend .animation;

                &.ais-Pagination-item--selected {
                    color: #{var(--color-primary)};

                    a {
                        color: #{var(--color-primary)};
                    }
                }

                &.ais-Pagination-item--disabled {
                    opacity: 0.2;
                }

                &:before {
                    display: none;
                }

                a {
                    text-decoration: none !important;
                    border: none !important;
                    display: block;
                }
            }
        }

        li {
            margin-bottom: 16px;
            position: relative;
            padding-left: 30px;

            &:before {
                content: "";
                width: 8px;
                height: 8px;
                border-radius: 50%;
                position: absolute;
                top: 17px;
                left: 0;
                transform: translateY(-50%);
                background-color: #{var(--color-primary)};

                @media screen and (max-width: 660px) {
                    top: 14px;
                }
            }
        }
    }

    p,
    ol,
    ul,
    li {
        @extend .animation;
        color: #{var(--color-text)};

        a {
            @extend .animation;
            color: #{var(--color-text)};
            border-bottom: 1px solid #{var(--color-text)};

            &:hover {
                color: #{var(--color-primary)};
                border-bottom: 1px solid #{var(--color-primary)};
            }
        }
    }

    picture,
    img,
    source {
        border-radius: $global-radius;
        max-width: 100%;
        height: auto;
    }

    figure {
        position: relative;

        &.wp-block-gallery {
            margin-bottom: 0 !important;

            &:after {
                display: none !important;
            }
        }
    }

    .wp-block-gallery .blocks-gallery-image,
    .wp-block-gallery .blocks-gallery-item,
    .blocks-gallery-grid .blocks-gallery-image,
    .blocks-gallery-grid .blocks-gallery-item {
        @media screen and (max-width: 660px) {
            width: 100%;
        }
    }

    .blocks-gallery-grid {
        margin-bottom: 0 !important;

        figure {
            margin-bottom: 40px;
        }

        li {
            padding: 0;
            margin: 0;

            &:before {
                display: none;
            }
        }
    }

    .wp-block-columns {
        margin-bottom: 0;
    }

    form {
        position: relative;
        margin-bottom: 40px;
        border-radius: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr 190px;
        grid-gap: 20px;
        align-items: end;

        @media screen and (max-width: 1366px) {
            grid-template-columns: 1fr;
            padding: 0;
        }

        &.ais-SearchBox-form {
            grid-template-columns: 1fr 72px !important;
            border-radius: 50px;
            background-color: #{var(--color-form-bg)};
            position: relative;
            margin-bottom: 40px;
            @extend .animation;
            grid-gap: 0px;

            input {
                border-radius: 50% 0 0 50% !important;
                width: 100% !important;
                color: #{var(--color-secondary)} !important;
            }

            input:focus {
                box-shadow: none !important;
            }

            &:after {
                @extend .after-shadow;
            }

            .ais-SearchBox-reset {
                display: none;
            }

            button {
                border-radius: 50% !important;
                border: none !important;
                padding: 0 !important;
                cursor: pointer;
                background-color: #{var(--color-primary)};
                @extend .animation;
                height: 100%;

                &:focus,
                &:hover {
                    background-color: #{var(--color-secondary)};
                }

                html[data-theme="dark"] & {
                    &:hover {
                        path,
                        rect,
                        polyline,
                        circle,
                        polygon,
                        ellipse,
                        line {
                            fill: #{var(--color-primary)};
                        }
                    }
                }

                svg {
                    height: 18px;
                    width: auto;
                    transform: translateX(0px);

                    path,
                    rect,
                    polyline,
                    circle,
                    polygon,
                    ellipse,
                    line {
                        @extend .animation;
                        fill: #{var(--color-white)};
                    }
                }
            }
        }

        label {
            @include fluid-font(3vw, 12px, 14px, 15px);
            color: #{var(--color-secondary)};
            opacity: 0.8;
            font-weight: 700;
            padding-left: 25px;
            margin: 0px 0 10px 0 !important;
            display: block;
        }

        .input {
            border-radius: 50px;
            position: relative;

            &:after {
                @extend .after-shadow;
            }
        }

        .button {
            @media screen and (max-width: 1023px) {
                width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }

        input[type="text"],
        input[type="email"],
        input[type="name"],
        input[type="search"] {
            padding: 0 25px;
            height: 72px;
            border: none;
            font-weight: 400;
            @include fluid-font(3vw, 15px, 17px, 35px);
            width: calc(100% - 50px);
            border-radius: 50px;
            color: #{var(--color-form-input)};
            @extend .animation;
            font-family: $font-1;
            background-color: #{var(--color-form-bg)};
            outline: none;
            line-height: normal;

            @include placeholder {
                color: #{var(--color-form-input)};
            }

            &:focus {
                box-shadow: 5px 20px 30px 0 rgba($color-black, 0.1);
                position: relative;
                z-index: 10;
            }

            html[data-theme="light"] & {
                color: #{var(--color-secondary)} !important;
            }
        }

        @media screen and (max-width: 680px) {
            margin-bottom: 40px;
        }

        p {
            max-width: none;
        }
    }

    small,
    .small,
    .small p {
        @extend .animation;
        font-size: 14px !important;
        line-height: 22px !important;
        color: #{var(--color-secondary)};
        opacity: 0.7;
        display: block;
        margin-bottom: 40px;
    }

    .small p {
        padding-left: 0;
        padding-right: 0;
    }

    blockquote {
        cite {
            display: block;
            margin-top: 10px;
            font-style: normal;
            opacity: 0.6;
            @include fluid-font(3vw, 13px, 15px, 17px);
        }

        p,
        ul,
        ol {
            padding: 0;
            color: #{var(--color-secondary)};
            font-weight: 700;
            @include fluid-font(3vw, 20px, 28px, 35px);
            margin: 0;
            font-family: $font-2;
        }
    }
}

.share-single {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 15px;

    @media screen and (max-width: 680px) {
        grid-template-columns: 1fr;
        justify-items: center;
        gap: 20px;
    }

    h4 {
        align-self: center;

        @media screen and (max-width: 680px) {
            text-align: center;
        }
    }
}

.share {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    align-items: center;

    @media screen and (max-width: 680px) {
        gap: 20px;
    }

    a {
        &:hover {
            path,
            rect,
            polyline,
            circle,
            polygon,
            ellipse,
            line {
                @extend .animation;
                fill: #{var(--color-secondary)};
            }
        }

        svg {
            height: 18px;

            path,
            rect,
            polyline,
            circle,
            polygon,
            ellipse,
            line {
                @extend .animation;
                fill: #{var(--color-primary)};
            }
        }
    }
}
