.sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
    border-radius: $global-radius;
    border: 1px solid rgba(#152C5B, 0.08);
    @extend .animation;
    padding: 30px;
    text-align: center;

    html[data-theme="dark"] & {
        border: 1px solid rgba(#ffffff, 0.1);
    }

    @media screen and (max-width: 1024px) {
        display: none;
    }

    h2 {
        @include fluid-font(3vw, 18px, 20px, 22px);
        margin-bottom: 30px;
    }

    p, label {
        display: none;
    }

    form {
        grid-template-columns: 1fr;

        input {
            text-align: center;
        }
    }
}

.sidebar-mobile {
    @media screen and (min-width: 1024px) {
        display: none;
    }

    position: fixed;
    z-index: 1000;
    @extend .animation;
    background-color: #{var(--color-secondary)};
    width: 100%;
    bottom: 0;
    border-top: 1px solid rgba(#ffffff, 0.1) !important;
    border-bottom: 1px solid rgba(#ffffff, 0.1) !important;

    &.hide-sidebar {
        transform: translateY(-100%);
        visibility: hidden;
    }

    html[data-theme="dark"] & {
        background-color: #{var(--color-bg)} !important;
    }

    .inner {
        padding: 30px 20px;
        position: relative;

        .close-x {
            position: absolute;
            top: 0;
            right: 0;
            padding: 20px 20px;
            z-index: 10;
            line-height: 0;

            svg {
                width: 16px;
                height: 16px;

                path {
                    fill: #fff;
                }
            }
        }
    }

    input {
        height: 45px !important;
        font-size: 14px !important;
    }

    form {
        display: grid;
        gap: 10px;
        grid-template-columns: 1fr 110px !important;
    }

    p {
        color: #{var(--color-white)};
        font-size: 18px;
        margin-bottom: 20px;
        font-family: $font-1;
        padding-right: 40px;
    }
}

form {
    label {
        @include fluid-font(3vw, 14px, 16px, 18px);
        color: #{var(--color-secondary)};
        opacity: 0.8;
        font-weight: 700;
        padding-left: 25px;
        margin: 0px 0 10px 0;
        display: block;
    }

    .button {
        @media screen and (max-width: 1023px) {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }

    input[type="text"], input[type="email"], input[type="name"] {
        padding: 0 25px;
        height: 68px;
        font-weight: 400;
        @include fluid-font(3vw, 16px, 18px, 20px);
        width: calc(100% - 50px);
        border-radius: 50px;
        color: #{var(--color-form-input)};
        @extend .animation;
        border: 1px solid rgba(#152C5B, 0.08);
        font-family: $font-2;
        background-color: #{var(--color-form-bg)};
        outline: none;
        line-height: normal;
        margin-bottom: 0;
        caret-color: #{var(--color-primary)};

        html[data-theme="dark"] & {
            border: 1px solid rgba(#ffffff, 0.1) !important;

            &:focus {
                border: 1px solid rgba(#ffffff, 0.1) !important;
            }
        }

        @include placeholder {
            color: #{var(--color-form-input)};
        }

        &:focus {
            position: relative;
            z-index: 10;
            box-shadow: inset 0 0 0 2px #{var(--color-primary)};
            border: 1px solid #{var(--color-primary)};
        }

        html[data-theme="light"] & {
            color: #{var(--color-secondary)} !important;
        }
    }

    input[type="submit"] {
        padding: 0 25px;
        height: 68px;
        @include fluid-font(3vw, 14px, 16px, 20px);
        width: 100%;
        display: block;
        border-radius: 50px;
        background-color: #{var(--color-primary)};
        color: #{var(--color-white)};
        border: none;
        cursor: pointer;
        font-weight: 700;
        @extend .animation;
        outline: none;

        &:focus, &:hover {
            box-shadow: inset 0 0 0 2px #{var(--color-primary)};
            color: #{var(--color-primary)};

            html[data-theme="light"] & {
                background-color: #{var(--color-white)} !important;
            }

            html[data-theme="dark"] & {
                background-color: #{var(--color-secondary)} !important;
            }
        }
    }
}
