{% extends "/layouts/base.twig" %}

{% block right_column %}
<div id="right-column">

    <div class="page404-content">
      <h2>
        Błąd 404
      </h2>
      <p>Bardzo nam przykro, ale strona której szukasz nie może zostać znaleziona.</p>
      <a href="{{ site.url }}" data-link="Wróć do strony głównej">Wróć do strony głównej</a>
    </div>

</div>
{% endblock %}