{% extends "/layouts/base.twig" %}

{% block content %}

<main role="main" id="wrapper">

      <div id="left-column">
      {% include 'views/parts/logo.twig' %}
      </div>

      <div id="right-column">

          <div role="list" id="content">

            {% include 'views/parts/header.twig' %}
            
            <h1 class="intro">
                Polityka prywatności
            </h1>

            <article class="article page">
            <p>
            Aliquam erat volutpat. Etiam pulvinar quis dui sit amet viverra. Maecenas fermentum, lectus sit amet posuere aliquet, est diam vehicula quam, id fringilla elit turpis quis nunc. Ut et lectus tellus. Donec finibus tellus id sem blandit finibus. Nullam aliquam velit quis faucibus volutpat.
            </p>
              <p>
              Pellentesque non purus quis mi auctor vestibulum vitae eget neque. Nullam id fringilla metus. Integer justo ipsum, egestas ut porttitor et, tempus nec sem. Integer ac convallis lectus, vitae dictum dui. Sed ac nunc at lacus interdum maximus sed quis est. Nam imperdiet est dolor, vel elementum orci blandit in. Aliquam erat volutpat. <a href="">Etiam pulvinar quis</a> dui sit amet viverra. Maecenas fermentum, lectus sit amet posuere aliquet, est diam vehicula quam, id fringilla elit turpis quis nunc. Ut et lectus tellus. Donec finibus tellus id sem blandit finibus. Nullam aliquam velit quis faucibus volutpat.
              </p>

              <p>
              Sed eget quam ac nisi hendrerit ullamcorper. Vivamus ac commodo arcu. Mauris rhoncus nisi euismod tellus congue, bibendum vulputate nunc cursus. Pellentesque non purus quis mi auctor vestibulum vitae eget neque. Nullam id fringilla metus. Integer justo ipsum, egestas ut porttitor et, tempus nec sem. Integer ac convallis lectus, vitae dictum dui. Sed ac nunc at lacus interdum maximus sed quis est. Nam imperdiet est dolor, vel elementum orci blandit in. Aliquam erat volutpat. Etiam pulvinar quis dui sit amet viverra. Maecenas fermentum, lectus sit amet posuere aliquet, est diam vehicula quam, id fringilla elit turpis quis nunc. Ut et lectus tellus. Donec finibus tellus id sem blandit finibus. Nullam aliquam velit quis faucibus volutpat.
              </p>

              <p>
              Sed eget quam ac nisi hendrerit ullamcorper. Vivamus ac commodo arcu. Mauris rhoncus nisi euismod tellus congue, bibendum vulputate nunc cursus. Pellentesque non purus quis mi auctor vestibulum vitae eget neque. Nullam id fringilla metus. <strong>Integer justo ipsum, egestas ut porttitor et, tempus nec sem.</strong> Integer ac convallis lectus, vitae dictum dui. Sed ac nunc at lacus interdum maximus sed quis est. Nam imperdiet est dolor, vel elementum orci blandit in. Aliquam erat volutpat. Etiam pulvinar quis dui sit amet viverra. Maecenas fermentum, lectus sit amet posuere aliquet, est diam vehicula quam, id fringilla elit turpis quis nunc. Ut et lectus tellus. Donec finibus tellus id sem blandit finibus. Nullam aliquam velit quis faucibus volutpat.
              </p>

            </article>

          </div>

          {% include 'views/parts/newsletter.twig' %}

          {% include 'views/parts/footer.twig' %}

      </div>

    </main>

{% endblock %}
