{% extends "/layouts/base.twig" %}

{% block right_column %}
<div id="right-column">

    <div id="nsl-wrapper">
      <p><img src="{{ theme.link }}/dist/images/nsl-ilus.svg" alt=""></p>

      {% include 'views/parts/newsletter.twig' %}
    </div>

</div>
{% endblock %}