{% extends "/layouts/base.twig" %}

{% block main %}

	<section>
		<div class="grid-single">
			<div class="item empty">
			</div>

			<div class="item item-single entry-content">
				{{ post.content }}
			</div>

			<div class="item item-fixed">
				<div class="box">
					sld;kslf
				</div>
			</div>
		</div>
	</section>

{% endblock %}
