@charset 'utf-8';

.wp-block {
    max-width: 1280px;
}

.gutenberg-wordpressowka-block {
  @import url('https://fonts.googleapis.com/css?family=Catamaran:400,700,900&subset=latin-ext');

  @import "components/reset.scss";

  @import "components/variables.scss";
  @import "components/standards.scss";

  @import "components/wordpressowka.scss";

  max-width: 684px;
  margin: 0 auto;
  font-family: $font;
}