@charset 'utf-8';

.wp-block {
    max-width: 1280px;
}

.gutenberg-wordpressowka-block {
   @import url("https://use.typekit.net/qab2jvi.css");
  //@import 'components/fonts.scss';

  @import "components/reset.scss";

  @import "components/variables.scss";
  @import "components/standards.scss";

  @import "components/wordpressowka2.scss";

  max-width: 684px;
  margin: 0 auto;
  font-family: $font;
}
