{#
Title: Owl Box Icons
Description: Section with icons
Category: formatting
Icon: admin-comments
Keywords: text icons
Mode: preview
Align: center
PostTypes: post articles page
SupportsMode: true
SupportsMultiple: true
SupportsAlign: center
#}

<section class="section p-b-100">

	<div class="grid grid-gap grid-columns-3">

		<article class="item item-post item-icons">
			<div class="inner">
				<img src="{{ theme.link }}/dist/images/issues.svg" alt="">
				<h3>100+</h3>
				<p>
					Wydań WordPressówki
				</p>
			</div>
		</article>

		<article class="item item-post item-icons">
			<div class="inner">
				<img src="{{ theme.link }}/dist/images/links.svg" alt="">
				<h3>950+</h3>
				<p>
					Udostępnionych artykułów
				</p>
			</div>
		</article>

		<article class="item item-post item-icons">
			<div class="inner">
				<img src="{{ theme.link }}/dist/images/editors.svg" alt="">
				<h3>20+</h3>
				<p>
					Redatorów gościnnych
				</p>
			</div>
		</article>

	</div>
</section>

