{#
Title: Owl Latests Blog posts
Description: Section with last posts
Category: formatting
Icon: admin-comments
Keywords: text photo
Mode: preview
Align: center
PostTypes: post articles page
SupportsMode: true
SupportsMultiple: true
SupportsAlign: center
#}

<section class="section p-t-100 p-b-100">
	<div class="grid grid-gap grid-align-middle grid-columns-2">
		<div class="item">
			<h2 class="section-title text-left">
				Najnowsze artykuły
			</h2>
		</div>
		<div class="item text-right">
			<a href="" class="button color-primary for-desktop">Zobacz blog WordPressówki</a>
		</div>
	</div>

	<div class="grid grid-gap grid-wide grid-align-middle grid-blog">
		<div class="item">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis sapien, facilisis sit amet massa id, tempor tristique turpis. Maecenas vehicula, sapien sed tincidunt finibus, nulla eros lacinia dui, id efficitur odio felis at diam. Proin faucibus quam massa, non volutpat eros laoreet in. Sed vel justo vitae ligula luctus luctus. Aliquam tristique egestas sem et iaculis. Curabitur vitae ultrices ligula, nec eleifend neque. Donec vehicula justo ac ante sagittis, nec efficitur massa pretium. Donec sollicitudin pretium ex vel viverra. Ut consequat metus sit amet leo auctor tristique. Cras eget orci interdum, commodo mauris ut, varius risus. Pellentesque aliquam, elit et pharetra pulvinar, dui sapien tristique tortor, a pharetra lacus eros vitae eros. Vivamus nec augue sollicitudin, eleifend augue ac, laoreet turpis. Duis et nibh posuere, facilisis magna sit amet, porttitor diam.
		</div>
		<div class="item">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam turpis sapien, facilisis sit amet massa id, tempor tristique turpis. Maecenas vehicula, sapien sed tincidunt finibus, nulla eros lacinia dui, id efficitur odio felis at diam. Proin faucibus quam massa, non volutpat eros laoreet in. Sed vel justo vitae ligula luctus luctus. Aliquam tristique egestas sem et iaculis. Curabitur vitae ultrices ligula, nec eleifend neque. Donec vehicula justo ac ante sagittis, nec efficitur massa pretium. Donec sollicitudin pretium ex vel viverra. Ut consequat metus sit amet leo auctor tristique. Cras eget orci interdum, commodo mauris ut, varius risus. Pellentesque aliquam, elit et pharetra pulvinar, dui sapien tristique tortor, a pharetra lacus eros vitae eros. Vivamus nec augue sollicitudin, eleifend augue ac, laoreet turpis. Duis et nibh posuere, facilisis magna sit amet, porttitor diam.
		</div>
	</div>
</section>
