{#
Title: Owl Companies
Description: Section with logotypes
Category: formatting
Icon: admin-comments
Keywords: text logotypes
Mode: preview
Align: center
PostTypes: post articles page
SupportsMode: true
SupportsMultiple: true
SupportsAlign: center
#}

<section class="section p-b-100">
	<h2 class="section-title text-center">
		Pojawili się u nas:
	</h2>

	<div class="grid grid-wide grid-gap grid-columns-4">

		<article class="item item-post item-logo">
			<div class="inner">
				<a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/InPost_logo.svg" alt=""></a>
			</div>
		</article>

		<article class="item item-post item-logo">
			<div class="inner">
				<a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/InPost_logo.svg" alt=""></a>
			</div>
		</article>

		<article class="item item-post item-logo">
			<div class="inner">
				<a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/InPost_logo.svg" alt=""></a>
			</div>
		</article>

		<article class="item item-post item-logo">
			<div class="inner">
				<a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/InPost_logo.svg" alt=""></a>
			</div>
		</article>

		<article class="item item-post item-logo">
			<div class="inner">
				<a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/InPost_logo.svg" alt=""></a>
			</div>
		</article>

		<article class="item item-post item-logo">
			<div class="inner">
				<a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/InPost_logo.svg" alt=""></a>
			</div>
		</article>

		<article class="item item-post item-logo">
			<div class="inner">
				<a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/InPost_logo.svg" alt=""></a>
			</div>
		</article>

		<article class="item item-post item-logo">
			<div class="inner">
				<a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/c/c5/InPost_logo.svg" alt=""></a>
			</div>
		</article>

	</div>
</section>

