{#
  Title: Owl guest editors
  Description: Guest editors
  Category: formatting
  Icon: admin-comments
  Keywords: entries
  Mode: preview
  Align: center
  PostTypes: post articles page
  SupportsMode: true
  SupportsMultiple: false
  SupportsAlign: center
#}

<section class="section p-b-100">
	{% if fields.title %}
	<h2 class="section-title text-center">
		{{ fields.title }}
	</h2>
	{% endif %}
	<div class="grid grid-wide grid-gap grid-columns-3">
	{% for entry in entries %}
		{% include 'views/parts/entry-guest.twig' %}
	{% endfor %}
	</div>

	<div class="text-center m-t-50">
		<a href="{{ term_link.link }}" class="button color-primary">{{ __( 'Poznaj wszystkich redaktorów gościnnych', 'sasquatch' ) }}</a>
	</div>
</section>
