{#
  Title: Owl Text + Photo
  Description: Section with text and photo
  Category: formatting
  Icon: admin-comments
  Keywords: entries
  Mode: preview
  Align: center
  PostTypes: post articles page
  SupportsMode: true
  SupportsMultiple: false
  SupportsAlign: center
#}

<section class="section p-b-100">
	<div class="grid grid-gap grid-align-middle grid-columns-2">

		<div class="item">
			<picture>
				<source media="(max-width:640px)"
					srcset="https://images.unsplash.com/photo-1612235809233-6bcd4c8331db?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=630&h=684&q=80" />
				<source media="(min-width: 641px) and (max-width:1023px)"
					srcset="https://images.unsplash.com/photo-1612235809233-6bcd4c8331db?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=630&h=684&q=80" />
				<img
					src="https://images.unsplash.com/photo-1612235809233-6bcd4c8331db?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=630&h=684&q=80" />
			</picture>
		</div>

		<div class="item item-content">
			<h2 class="section-title text-left">
				Od społeczności dla społeczności
			</h2>

			<p>WordPressówka to miejsce stworzone specjalnie dla fanów WordPressa. Znajdziecie u nas co tydzień najświeższe wiadomości ze świata WordPressa i tametów związanych z projektowaniem stron internetowych.</p>
			<p>
				Poza zmianami i nowinkami czeka na Was wiele poradników i tutoriali, dzięki którym pogłębicie swoją wiedzę i umiejętności. Zachęcamy Was do zapisu na Newsletter, ale również do śledzenia nas na profilach social media: <a href="">Facebooku</a>, <a href="">Facebooku</a> i <a href="">Facebooku</a>.
			</p>
		</div>
	</div>

</section>
