{#
Title: Owl Line - Divider
Description: Section with logotypes
Category: formatting
Icon: admin-comments
Keywords: divider
Mode: preview
Align: center
PostTypes: post articles page
SupportsMode: true
SupportsMultiple: true
SupportsAlign: center
#}

<section class="section m-b-100">
	<div class="grid grid-wide grid-gap grid-columns-1 border-top"></div>
</section>

