<article class="owl-article article-small">
    <div class="item">
        <a href="{{ entry.link }}" class="article-cover">
            <picture>
                <source media="(max-width:640px)"
                    srcset="https://images.unsplash.com/photo-1612235809233-6bcd4c8331db?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=570&h=260&q=80" />
                <source media="(min-width: 641px) and (max-width:1023px)"
                    srcset="https://images.unsplash.com/photo-1612235809233-6bcd4c8331db?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=920&h=420&q=80" />
                <source media="(min-width: 1024px) and (max-width:1900px)"
                    srcset="https://images.unsplash.com/photo-1612235809233-6bcd4c8331db?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=260&h=170&q=80" />
                <img
                    src="https://images.unsplash.com/photo-1612235809233-6bcd4c8331db?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=260&h=230&q=80" />
            </picture>
        </a>
    </div>
    <div class="item article-content">
        <h2>
            <a href="{{ entry.link }}">
                {{ entry.title }}
            </a>
        </h2>

        {% include 'views/parts/icons/arrow.twig' %}
    </div>
</article>
