<footer id="footer">
  <ul role="navigation">
    <li><a href="" data-link="Wydania"><span>Wydania</span></a></li>
    <li><a href="" data-link="Newsletter"><span>Newsletter</span></a></li>
    <li><a href="" data-link="Facebook"><span>Facebook</span></a></li>
    <li><a href="" data-link="Polityka prywatności"><span>Polityka prywatności</span></a></li>
    <li><a href="" data-link="Polityka cookies"><span>Polityka cookies</span></a></li>
  </ul>

  <p>{{ site.name }} {{ "now" | date("Y") }}. Crafted with <span>&hearts;</span> by <a href="https://github.com/palmiak" target="_blank">@palmiak</a> and <a href="https://github.com/Agressiva86" target="_blank">@agressiva86</a></p>
</footer>