<header id="header">
  <ul role="navigation">
    <li><a href="" data-link="Wydania"><span>Wydania</span></a></li>
    <li><a href="" data-link="Newsletter"><span>Newsletter</span></a></li>
    <li><a href="" data-link="Facebook"><span>Facebook</span></a></li>
  </ul>
</header>