<section class="newsletter" id="newsletter">
  <div class="inner">
    <h2>Zapisz się na newsletter</h2>
    <p>Get the latest design and frontend news delivered to your inbox. No spam. Unsubscribe at anytime.</p>
  </div>

  <form>
    <label><input type="name" placeholder="Twoje imię"></label>
    <label><input type="email" placeholder="Twój adres email"></label>
    <input type="submit" value="Zapisz się teraz!">
  </form>
</section>