<section>
  <p>Na start bardzo ciekawy wywiad z bardzo popularną postacią w świecie WordPressa, Alainem Schlesserem. Na co dzień jest WordPress developerem, specjalizuje się w WP CLI i nadzoruje prace nad Gutenbergiem. </p>
  <a href="https://www.savvii.com/blog/savvii-spotlight-alain-schlesser-interview/?fbclid=IwAR3DBL6fIf6k0-SRBSRp_Zc0kyEf4Z4v_DwHn2UUKhw8k439_zwSOb65JjA" target="_blank">Savvii Spotlight: Alain Schlesser [interview]</a>
</section>