<section class="gutenberg-wordpressowka-block">
    <div class="gutenberg-url-block">
        <a href="{{ options.facebook }}" target="_blank">
            <picture>
                <source media="(max-width: 768px)" srcset="{{ Image( options.fb_banner_mobile ).src }}" />
                <img src="{{ Image( options.fb_banner_desktop ).src }}" />
            </picture>
        </a>
    </div>
</section>