<section class="gutenberg-wordpressowka-block">
    <div class="gutenberg-url-block">
        {{ fields.opis }}
        <a href="{{ fields.link.url }}" target="{{ fields.link.target }}">{{ fields.link.title }}</a>
    </div>
</section>