<section class="gutenberg-wordpressowka-block">
    <div class="gutenberg-newsletter-block">
        <div class="left">
            <h2>Dołącz do WordPressowych Sówek</h2>
            <p>Zapisz się na newsletter i bądź na bieżąco z aktualnymi informacjami na temat WordPressa! Jako pierwszy dowiesz się o nowym wydaniu WordPressówki.</p>
            <a href="{{ site.url }}/newsletter">Zapisz się na Newsletter</a>
        </div>
        <div class="right">
            <img src="https://wordpressowka.pl/app/uploads/2019/05/wordpressowkaNSLbox.png" alt="">
        </div>
    </div>
</section>